version: '3.8'

services:
  mongo:
    image: mongo:4.4
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

  api:
    build: ./api
    container_name: api
    ports:
      - "3333:3333"
    environment:
      - PORT=3333
      - MONGO_URI=mongodb://mongo:27017/auth_licensing
      - JWT_SECRET=change-in-prod
      - JWT_REFRESH_SECRET=change-in-prod-too
      - ACCESS_TOKEN_EXPIRES=15m
      - REFRESH_TOKEN_EXPIRES=7d
      - LICENSE_DAYS=30
      - NODE_ENV=development
      - LOG_LEVEL=info
    depends_on:
      - mongo
    volumes:
      - ./api:/app
      - /app/node_modules
    restart: always

  web:
    build: ./web
    container_name: web
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api:3333/api/v1
    depends_on:
      - api
    volumes:
      - ./web:/app
      - /app/node_modules
    restart: always

volumes:
  mongo-data:
